#landing {
    min-height: 100vh;
    background-image: url(../assets/images/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

button.welcome {
    background-color: transparent;
    border: 3px solid #e8b600;
    color: #e8b600;
    font-family: 'Arabic Font 2013';
    text-transform: lowercase;
    padding: .6em 1em .4em 1em;
    letter-spacing: .1em;
    transition: .5s;
}

button.welcome:hover {
    background-color: #e8b600;
    color: #262525;
    transition: .5s;
}

button.welcome:active {
    font-weight: bold;
}

.typing {
    width: 40%;
    overflow: hidden;
    font-family: monospace;
    font-size: 1.25em;
    color: white;
    text-align: center;
}

span.avoidwrap { 
    display:inline-block; 
}

h1.typing::after {
  content: "";
  width: 3px;
  height: 1.25em;
  background: white;
  display: inline-block;
  animation: cursor-blink .5s step-end infinite alternate;
}

@keyframes cursor-blink {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 992px) {
    #landing {
        background-image: url(../assets/images/banner-mobile.png);
    }
}

@media only screen and (max-width: 767px) {
    #landing {
        display: block;
    }

    .welcome {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .typing {
        color: #262525;
        font-weight: bold;
        width: 80%;
        font-size: 5vw;
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    h1.typing::after {
        background: #262525
    }
}